/* Estilo do container do navbar */
/* Ensure the navbar stays above the overlay */
.navbar-container {
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #004a80;
  transition: transform 0.8s ease; /* Smooth transition */
  z-index: 9999; /* Above overlay */
  transform: translateX(-400px);
}

.navbar-container.open {
  transform: translateX(0); /* Slide back to view */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  z-index: 9998; /* Behind navbar */
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #004a80;
  display: flex; /* Ativando o Flexbox */
  flex-direction: column; /* Itens dispostos em coluna */
  align-items: center; /* Centralizando horizontalmente */
}

.navbar-header {
  width: 351px;
  margin-top: 20px;
}

.navbar-header > .navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar-header > .navbar-nav > a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white !important;
}

.navbar-body > .navbar-nav {
  color: white;
  display: flex;
  justify-items: flex-start;
  width: 351px;
}

.navbar-title {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.navbar-body {
  width: 351px;
  margin-top: 10px;
}

.nav-item {
  width: 100%;
  margin-bottom: 10px;
  background-color: #0d6efd;
  color: "white";
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  padding: 0px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 16px;
}

.dropdown-item:hover {
  background-color: #d5d5eb;
}

.dropdown-divider {
  height: 1px; /* Altura da linha */
  background-color: #dee2e6; /* Cor da linha */
  border: none; /* Remove bordas padrão */
  margin: 5px 0; /* Espaçamento acima e abaixo da linha */
}

.nav-item > .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 16px;
  width: "100%";
  color: white;
}

.nav-item > .nav-link:hover {
  color: white;
}

.nav-item:hover {
  background: #0b5ed7;
}

.btn-close:hover {
  color: #003cff;
}

.dropdown-container {
  background-color: #f8f9fa; /* Fundo branco */
  color: black; /* Fonte preta */
  border-radius: 5px; /* Bordas arredondadas (opcional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra (opcional) */
  padding-left: 0px;
}

.header {
  display: flex;
  align-items: center; /* Alinha verticalmente no centro */
  justify-content: space-between; /* Espalha o espaço entre os itens */
  padding: 10px;
  color: white;
}

.close-button {
  background: none; /* Remove fundo do botão */
  border: none; /* Remove borda do botão */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
  color: white;
}
