/* Estilo do container do navbar */
.navbar-container {
  position: absolute;
  top: 0px;
  left: -300px; /* Fora da tela inicialmente */
  width: 250px;
  height: 100%;
  /* background-color: #80006b; */
  background-color: #004a80;
  transition: left 0.8s ease, opacity 0.8s ease, transform 0.8s ease; /* Transições para left, opacity e transform */
  z-index: 9999;
  opacity: 0; /* Começa invisível */
  transform: translateX(-20px); /* Levemente deslocado para a esquerda */
}

.navbar-container.open {
  left: 0px; /* Dentro da tela */
  opacity: 1; /* Visível */
  transform: translateX(0); /* Volta para a posição original */
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #004a80;

  padding: 15px;
  display: flex; /* Ativando o Flexbox */
}

.navbar-nav {
  list-style: none;
  width: 100%;
}
.navbar-nav a {
  color: white; /* Garante que todos os links também sejam brancos */
}
.navbar-header {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.navbar-body {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}
.navbar-bar .nav-link {
  color: white !important; /* Força a cor branca */
  text-decoration: none; /* Remove o sublinhado dos links */
  padding: 10px 15px; /* Espaçamento interno para os links */
  display: block;
}

.navbar-title {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.nav-item {
  width: 100%;
  margin-bottom: 10px;
  background-color: #003cff;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  padding: 0px;
}

.nav-item:hover {
  background-color: #4a47d4;
}
.dropdown-container {
  background-color: rgb(230, 228, 228); /* Fundo branco */
  color: black; /* Fonte preta */
  border-radius: 5px; /* Bordas arredondadas (opcional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra (opcional) */
  padding-left: 10px;
}

.dropdown-item {
  padding: 5px 0px; /* Padding para itens do dropdown */
  text-decoration: none; /* Remove sublinhado */
  display: block; /* Garante que os itens ocupem a largura total */
  color: black !important;
}

.dropdown-divider {
  height: 1px; /* Altura da linha */
  background-color: #dee2e6; /* Cor da linha */
  border: none; /* Remove bordas padrão */
  margin: 5px 0; /* Espaçamento acima e abaixo da linha */
}

/* Botão de fechar o navbar */
.btn-close {
  background-color: rgb(95, 4, 4);
  /* border: none;
  font-size: 4.2rem;
  color: white;
  cursor: pointer; */

  background-color: transparent;
  border: none;
  font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
  color: white; /* Cor do ícone */
  cursor: pointer;
  display: flex; /* Flex para centralizar o ícone */
  align-items: center;
  justify-content: center;
}

.btn-close:hover {
  color: #003cff;
}

.dropdown-container {
  background-color: rgb(230, 228, 228); /* Fundo branco */
  color: black; /* Fonte preta */
  border-radius: 5px; /* Bordas arredondadas (opcional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra (opcional) */
  padding-left: 10px;
}

.header {
  display: flex;
  align-items: center; /* Alinha verticalmente no centro */
  justify-content: space-between; /* Espalha o espaço entre os itens */
  padding: 10px;
  color: white;
}

.close-button {
  background: none; /* Remove fundo do botão */
  border: none; /* Remove borda do botão */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
  color: white;
}
