.app {
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

.content {
  padding: 20px;
  margin-left: 20px;
}
