.titulo-principal {
  font-family: "Courier New", Courier, monospace;
  color: #363030; /* Cor do texto dentro do modal */
  text-align: center; /* Centraliza o texto */
  background-color: rgb(243, 237, 237);
}

.cursor {
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite; /* Animação de piscar */
}

.corfundo {
  background-color: rgb(243, 237, 237);
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
